
*{
    margin: 0;
    padding: 0;
}
/*------------------------------------header------------------------------------*/
header{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    justify-content: space-between;

}

.bar{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.bar img{
    height: 70px;
    width: 300px;
}
.sh{
    width: 40%;
    height: 100%;
    margin-left: 40%;
    margin-top: -75px;
    background-color: rgb(255, 255, 255);
}
.sh input{
    height: 40px;
    width: 400px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-left: 10%;
    border-bottom:ridge;
    border-bottom-color: rgb(255, 140, 0);
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.sh button{
    height: 40px;
    width: 80px;
    border: hidden;
    
}
.conus{
    width: 20%;
    height: 100%;
    margin-left: 80%;
    margin-top: -75px;
    background-color: rgb(255, 255, 255);
}
.conus img{

    height: 50px;
    width: 50px;
    margin-left: 7%;
    margin-top: 15px;
    cursor: pointer;

}
#i3{
    display: none;
}
@media only screen and (max-width: 830px) {
    .conus img{
        display: none;
    }
    #i3{
        display: block;
    }
}
/*-----------------------------------------------------------------------------------------------*/
/*******************************************navbar**************************************************/
hr{
    background-color:rgb(255, 140, 0);
    width: 80%;
    height: 2px;
    margin-left: 10%;
    border: hidden;
}



.nbar{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(110, 110, 110, 0.2); 

}
.sp{
    width: 100%;
    height: 15px;
}
nav{
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 0px 40px;
}
nav a{
    color: rgb(255, 140, 0);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
nav a:hover{
    color: #ffbb00;
   
}
.newNav{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: larger;
    border-bottom: 2px solid rgb(218, 218, 218);
    display: flexbox;
    display: inline-flex;
    justify-content: space-between;
}
.i1{
    background-color:transparent;
    height: auto;
    width: 200px;
    justify-content: flex-start;
    align-items: start;
    text-align: start;
}
.i2{
    background-color: transparent;
    height: auto;
    width: 500px;
    justify-content: end;
    align-items: end;
    text-align: end;
}
@media only screen and (max-width: 830px) {
   nav{
    justify-content: center;
    text-align:center ;
    display: none;
   }
    .nbar{
        height: 40px;
       
    }
    nav li{
        display: list-item;
        padding: 0px 40px;
        margin: 10px 0px;
    }
   }
/*-------------------------------------------------------------------------------------------------*/
.div1{
    height: 100%;
    width: 100%;
}
.div1 video
{
    height: 100%;
    width: 100%;
    margin-top:110px;
    
}
.ban{
    height: 580px;
    width: 100%;
    margin-top: -700px;
}
.banc {
    height: 530px;
    width: 100%;
    text-align: center;
}
.banc h1{
    font-size: 100px;
    color:transparent;
    -webkit-text-stroke: 5px #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;

}

.banc a{
    font-size: 55px;
    color: #ffbb00;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
@media only screen and (max-width: 500px) {
    .banc h1{
        font-size: 40px;
        font-weight: 100;
        letter-spacing: 5px;
    }
    .banc a{
        font-size: 25px;
    }
    .ban{
        margin-top: -200px;
        height: 200px;
    }
    .banc{
        height: 220px;

    }
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------pet-------------------------------------------------*/
.divpet{
    height: 400px;
    width: 100%;
    margin-top: 150px;
}
.petrow{
    height: 350px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.po{
    height: 350px;
    width: 25%;
    margin: 0px 2%;
    border-radius: 25px;
    transition: 1s;
    border: hidden;
    background-color: rgb(255, 242, 183);
    justify-content: center;
    text-align: center;
}
.po:hover{
    background-color: rgb(255, 156, 43);
}
.petimg{
    height:250px ;
    width: 250px;
    margin-left: 0px;
}
.poh{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #003c6a;
}
.poa{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}
@media only screen and (max-width: 500px) {
    .petrow{
        display: grid;
    }
    .po{
        width: 70%;
        height: 300px;
        margin: 10px 15%;
    }
    .petimg{
        margin:3px 20px;
        height: 200px;
        width: 200px;
    }
    .poh{
        font-size: 20px;
    }
}
/*-------------------------------------------------------------------------------------------*/
